<strong>Olá, {{student}}</strong>
<p>Sua matricula foi realizada com sucesso.</p>
<p>Segue os detalhes abaixo.</p>
<p>
  <strong>Nome:</strong> {{student}}<br />
  <strong>Plano:</strong> {{plan}}<br />
  <strong>Termino:</strong> {{end_date}}<br />
  <strong>Valor Total:</strong> <span>R$</span>{{price}}<br />
  <br />
  <strong>Seja muito bem vindo.</strong>
</p>
